.index {
  flex-direction: column;
  width: 100%;
  background-color: #f9faff;

  &-swiper {
    position: relative;
    height: 600px;

    &-image {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #5b7492;
      opacity: .4;
    }

    &-title {
      position: absolute;
      right: 5%;
      bottom: 100px;
      width: 70%;
      text-align: right;
      line-height: 1.6em;
      font-weight: bold;
      font-size: 40px;
      color: #fff;
      text-shadow: 2px 2px 20px rgba(0, 0, 0, .5);

      &:before {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 0;
        display: block;
        width: 300px;
        border: 4px solid $primary-color;
      }
    }
  }

  &-list {
    &-wrap {
      position: relative;
    }

    &-item {
      position: relative;
      width: 90%;
      margin: 60px auto 0;

      &-title {
        display: block;
        width: 320px;
        padding: 0 70px;
        background-color: $primary-color;
        border-radius: 30px;
        letter-spacing: 6px;
        line-height: 2em;
        font-weight: bold;
        text-align: center;
        color: #fff;
        box-shadow: 0 6px 20px 0 rgba(91, 115, 145, .15);
        transform: translateY(-50%);
      }

      &-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 6px 20px 0 rgba(91, 115, 145, .15);

        &-image {
          display: block;
          width: 150px;
          height: 150px;
          margin-right: 20px;
          border-radius: 8px;
        }

        &-title {
          flex: 1 0;
          font-size: 28px;
          font-weight: 500;
          text-align: justify;
          color: #5b7492;
        }
      }
    }
  }

  .at-fab {
    position: fixed;
    right: 30px;
    bottom: 100px;
  }
}
