.user {
  position: relative;
  height: 100%;
  background-color: #f9faff;

  &-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-bottom: 30px;
    background-color: #fff;

    .has-auth {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 30px;

      &-avatar {
        display: block;
        width: 120px;
        height: 120px;
      }

      &-username {
        flex: 1 0;
        margin-left: 20px;
        color: #666;
      }
    }

    .no-auth-text {
      display: block;
      margin-bottom: 24px;
      font-size: 28px;
      color: #999;
    }
  }

  &-section {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;

    &-title {
      position: relative;
      padding: 16px 24px 16px 50px;

      &-line {
        position: absolute;
        top: 50%;
        left: 24px;
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background-color: $primary-color;
        transform: translateY(-50%);
      }

      text {
        font-weight: bold;
        font-size: 28px;
        color: #444;
      }
    }

    .at-list {
      &__item {
        font-weight: 500;
        font-size: 24px;
        color: #666;

        .item-extra__icon-arrow {
          font-size: 32px;
        }
      }

      .feedback {
        &-wrap {
          position: relative;
        }

        &-line {
          position: absolute;
          bottom: 0;
          left: 24px;
          right: 0;
          border-bottom: 1px solid #eee;
        }

        &-btn {
          display: block;
          height: 84px;
          line-height: 84px;
          padding-left: 24px;
          border: none;
          text-align: left;
          font-weight: 500;
          font-size: 24px;
          color: #666;
        }

        &-arrow {
          position: absolute;
          top: 50%;
          right: 12px;
          font-size: 32px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
