.detail {
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &-banner {
    position: relative;
    height: 450px;

    &-image {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(91, 115, 145, .5);
    }

    &-title {
      position: absolute;
      right: 5%;
      bottom: 40px;
      width: 60%;
      text-align: right;
      line-height: 1.8em;
      font-weight: bold;
      font-size: 36px;
      color: rgba(255, 255, 255, .9);
      text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
  }

  &-content {
    position: relative;
    padding: 20px;
    line-height: 1.8em;
  }

  &-action {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    width: 100%;
    border-top: 1px solid #efefef;

    .action-item {
      position: relative;
      width: 100%;
      padding: 0;
      background-color: #fff;
      border-radius: 0;

      &::after {
        border: none;
      }

      &-icon {
        margin-right: 20px;
        font-size: 40px;
        color: darkblue;
      }

      &-text {
        font-size: 28px;
      }

      &-line {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 2px;
        height: 40%;
        background-color: darkblue;
        transform: translateY(-50%);
      }
    }
  }

  .at-fab {
    position: fixed;
    right: 30px;
    bottom: 100px;
  }
}
